<div ng-controller="editor-controller" >
    <strong>Code</strong>
    <div class="row-fluid" ng-show="sourceFiles.length">
        <div class="span12">
            <span class="btn-group">
                <button ng-repeat="sourceFile in sourceFiles" type="radio" class="btn" ng-model="currentIndex" btn-radio="{{sourceFile.name}}" ng-click="onTabSelected($index)">{{sourceFile.name}}</button>
            </span>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="row-fluid" ng-show="sourceFiles.length">
        <div class="span12">
            <textarea ui-codemirror="htmlOptions" ui-refresh="filesUpdated"
                      ng-model="currentFile.source"></textarea>
        </div>
    </div>
</div>