<div ng-controller="editor-controller" ng-show="sourceFiles.length">
    <div class="row-fluid">
        <div class="span12" >
            <tabs>
                <pane ng-repeat="sourceFile in sourceFiles" heading="{{sourceFile.name}}" active="pane.active"><textarea ui-codemirror="getOptionsForFileType(sourceFile.mode)" ui-refresh="filesUpdated" ng-model="sourceFile.source"></textarea></pane>
            </tabs>
        </div>
    </div>
    <hr/>
    <div class="row-fluid">
        <div class="pull-right">
            <button ng-show="slide.enableRun" class="btn btn-primary" ng-click="runCode()">Run</button>
        </div>
    </div>
</div>