html, body {
    height: 100%;
}

.container-fluid {
    min-height: 100%;
    overflow: hidden;
}

.markdownWrapper {
    width: 97%;
}

.iframeContainer {
    height: 25em;
}

.CodeMirror {
    border: 1px solid black;
    height: 25em;
    width: 99%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.CodeMirror-empty {
    outline: 1px solid #c22;
}

.CodeMirror-empty.CodeMirror-focused {
    outline: none;
}

.CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}

.pagination ul li > a,
.pagination ul li > span {
    background-color: #34495e;
    border-color: #34495e;
    color: #ffffff;
}

.pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover, .pagination ul>.disabled>a:focus {
    color: #999;
    cursor: default;
    background-color: transparent;
    border-color: transparent;
}