html, body {
    height: 100%;
}

.iframeContainer {
    height: 100%;
    width: 97%;
    border: 0px;
}

.container-fluid {
    min-height: 100%;
}

.markdownWrapper {
    width: 97%;
}

.CodeMirror {
    border: 1px solid black;
    height: 100%;
    width: 99%;
    overflow-x: auto;
    overflow-y: hidden;
}

.CodeMirror-empty {
    outline: 1px solid #c22;
}

.CodeMirror-empty.CodeMirror-focused {
    outline: none;
}

.CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}

