<div class="container-fluid" ng-controller="home-controller">
    <div class="row-fluid"></div>
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="row-fluid">
        <h1 data-i18n="_HomeTitle_">Welcome to Rate a Stogie!</h1>

        <p>&nbsp;</p>
        <carousel interval="myInterval" class="mainCarousel">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">

                <div class="carousel-caption">
                    <p>{{slide.text}}</p>
                </div>
            </slide>
        </carousel>
    </div>
    <!-- Banner Content -->
    <div id="loggedOutBanner" class="row-fluid">
        <div class="span4">
            <h2 data-i18n="_HighestRated_">Highest Rated Stogies</h2>

            <table class="table table-bordered">
                <thead>
                <th>Brand</th>
                <th>Name</th>
                <th>Rating</th>
                </thead>
                <tbody>
                <tr ng-repeat="cigar in TopRatedCigars | limitTo:5">
                    <td ng-bind="cigar.Brand"></td>
                    <td><a href="#/viewratings/{{cigar._id.$oid}}"><span ng-bind="cigar.Name"></span></a></td>
                    <td ng-bind="cigar.AverageRating"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="span4">
            <h2 data-i18n="_TopContributorTitle_">Highest Contributors</h2>

            <table class="table table-bordered">
                <thead>
                <th>User Name</th>
                <th>Rating</th>
                </thead>
                <tbody>
                <tr ng-repeat="user in TopContributors | limitTo:5">
                    <td ng-bind="user.UserName"></td>
                    <td ng-bind="user.Ratings"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="span4">
            <h2 data-i18n="_NewReviews_">New Reviews</h2>

            <table class="table table-bordered">
                <thead>
                <th>User</th>
                <th>Brand</th>
                <th>Name</th>
                <th>Rating</th>
                </thead>
                <tbody>
                <tr ng-repeat="rating in NewReviews | limitTo:5">
                    <td ng-bind="rating.UserName"></td>
                    <td ng-bind="rating.Brand"></td>
                    <td><a href="#/viewrating/{{rating._id.$oid}}"><span ng-bind="rating.Name"></span></a></td>
                    <td ng-bind="rating.Rating"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /container -->

