<div class="container-fluid" ng-controller="home-controller">
    <div class="row-fluid">
        <div class="span12">
            <div class="carousel slide" id="carousel-883997">
                <carousel interval="myInterval" class="mainCarousel">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" style="margin:auto;">
                    </slide>
                </carousel>
            </div>
            <div class="clear">&nbsp;</div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lesson in lessons">
                        <td><img class="btn-link" ng-click="startTutorial($index)" ng-src="{{lesson.image}}" /></td>
                        <td>{{lesson.name}}</td>
                        <td>{{lesson.description}}</td>
                        <td>{{lesson.category}}</td>
                        <td>{{lesson.level}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>