<!DOCTYPE html>
<!--[if lt IE 8]>
<html ng-app="slide" xmlns:ng="http://angularjs.org" class="ie lt-ie8 oldIE" lang="en"> <![endif]-->
<!--[if lt IE 9]>
<html ng-app="slide" xmlns:ng="http://angularjs.org" class="ie lt-ie9 oldIE" lang="en"> <![endif]-->
<!--[if IE 9]>
<html ng-app="slide" xmlns:ng="http://angularjs.org" class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <style>
        [ng-cloak] {
            display: none;
        }
    </style>
    <title>Tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AngularJS Tutorial">
    <meta name="author" content="Jim Lavin">
    <!-- Le styles -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <style type="text/css">@charset "UTF-8";
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none;
    }

    ng\:form {
        display: block;
    }</style>
</head>
<body id='myApp'>
<!-- container -->
<div class="container-fluid">
    <h2>Enterprise Crew</h2>
    <hr/>
    <div ng-view>&nbsp;</div>
</div>
<script type="text/ng-template" id="controllera-partial.html">
    <div class="span12" ng-controller="ControllerA">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Email</th>
                <th>Bio</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="person in persons">
                <td><i class="icon-edit" ng-click="edit($index)"></i></td>
                <td>{{person.name}}</td>
                <td>{{person.email}}</td>
                <td>{{person.biography}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</script>
<script type="text/ng-template" id="controllerb-partial.html">
    <div class="span12" ng-controller="ControllerB">
        <form class="form-horizontal" ng-show="person">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="inputName">Name</label>

                    <div class="controls">
                        <input class="input-large" type="text" id="inputName" placeholder="Email"
                               ng-model="person.name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Email</label>

                    <div class="controls">
                        <input class="input-large" type="text" id="inputEmail" placeholder="Email"
                               ng-model="person.email">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputBio">Bio</label>

                    <div class="controls">
                        <input class="input-xxlarge" type="text" id="inputBio" placeholder="Email"
                               ng-model="person.biography">
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary" ng-click="save()">Save</button>
                    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                </div>
            </fieldset>
        </form>
    </div>
</script>
<!-- /container -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="lib/jquery/jquery-1.10.0.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>
<script src="lib/angular/angular.js"></script>
<script>
    window.onload = function () {
        try {
            angular.module('myApp', [])
                    .config(['$routeProvider', function ($routeProvider) {
                        $routeProvider.
                                when('/', {templateUrl: 'controllera-partial.html'}).
                                when('/edit/:index', {templateUrl: 'controllerb-partial.html'}).
                                otherwise({templateUrl: 'controllera-partial.html'});

                    }]);

            angular.module('myApp')
                // define the request notification channel for the pub/sub service
                    .factory('dataService', [ function () {
                        var persons = [
                            {
                                name: 'Jean Luc Picarrd',
                                email: 'picarrd@ncc1701.federation.us',
                                biography: 'Captain of the Enterprise'
                            },
                            {
                                name: 'William Riker',
                                email: 'riker@ncc1701.federation.us',
                                biography: 'First Officer of the Enterprise'
                            },
                            {
                                name: 'Data',
                                email: 'data@ncc1701.federation.us',
                                biography: 'Android on the Enterprise'
                            },
                            {
                                name: 'Geordi laForge',
                                email: 'laforge@ncc1701.federation.us',
                                biography: 'Chief Engineer of the Enterprise'
                            }
                        ];

                        var getPersons = function () {
                            return persons;
                        };

                        var getPerson = function (index) {
                            return angular.copy(persons[index]);
                        };

                        var updatePerson = function (index, person) {
                            persons[index] = person;
                        };

                        // return the publicly accessible methods
                        return {
                            getPersons: getPersons,
                            getPerson: getPerson,
                            updatePerson: updatePerson
                        };
                    }]);

            angular.module('myApp')
                    .controller('ControllerA', ['$scope', '$location', 'dataService', function ($scope, $location, dataService) {
                        $scope.persons = dataService.getPersons();

                        $scope.edit = function (index) {
                            $location.path('/edit/' + index);
                        };
                    }]);

            angular.module('myApp')
                    .controller('ControllerB', ['$scope', '$routeParams', '$location', 'dataService', function ($scope, $routeParams, $location, dataService) {
                        $scope.person = dataService.getPerson($routeParams['index']);

                        $scope.save = function () {
                            dataService.updatePerson($routeParams['index'], $scope.person);
                            $location.path('/')
                            $scope.person = null;
                        };

                        $scope.cancel = function () {
                            $scope.person = null;
                        };
                    }]);

            angular.element($('#myApp')).ready(function() {
                angular.bootstrap($('#myApp'), ['myApp']);
            });

        } catch (e) {
            alert('Not working: ' + e)
        }
    }</script>


</body>
</html>