<div ng-controller="tutorial-controller">
    <h1>{{currentSlide.title}}</h1>
    <div class="markdownWrapper" mark-down="markdown"></div>
    <div class="clearfix">&nbsp;</div>
    slide {{currentPage + 1}} of {{slides.length}}
    <div class="pagination pull-right">
        <ul>
            <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range(slides.length)"
                ng-class="{active: n == currentPage}"
                ng-click="setPage()">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == slides.length - 1}">
                <a href ng-click="nextPage()">Next »</a>
            </li>
        </ul>
    </div>
</div>