<div id="myApp" class="container-fluid">
    <div class="row-fluid">
        <div class="clear"></div>
        <div ng-controller="ControllerA">
            <label for="text1">Enter a value:
                <input id="text1" type="text" ng-model="inputValue"/>
                <button ng-click="valueUpdated()">Update</button>
            </label>
        </div>
        <div class="clear"></div>
        <div ng-controller="ControllerB">
            <h2>You Typed {{displayValue}}</h2>
        </div>
    </div>
</div>