/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}


.menu > li {
  display: inline;
}

.menu > li {
  padding-right: 1em;
}
