<div class="row-fluid" ng-controller="user-change-password-controller">
    <form name="changePasswordForm" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="Password">Password </label>

            <div class="controls">
                <input class="input-large" id="Password" name="Password" type="password" ng-model="password" required
                       validate-equals="confirmpassword">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ConfirmPassword">Confirm Password </label>

            <div class="controls">
                <input class="input-large" id="ConfirmPassword" name="ConfirmPassword" type="password"
                       ng-model="confirmpassword">
            </div>
        </div>
        <div class="alert" ng-show="errorsExist()">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div ng-repeat="error in errorMessages">
                <strong>Warning:</strong> <span ng-bind="error"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"></label>

            <div class="controls">
                <button ng-click="changePassword()" ng-disabled="changePasswordForm.$invalid" class="btn btn-primary">Update</button>
                <a href="#/" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </form>
</div>
